anyio~=3.4.0
bcrypt==3.2.0
fastapi~=0.75.1
passlib~=1.7.4
psycopg2~=2.9.3
pydantic~=1.9.0
pyseto~=1.6.5
python-multipart~=0.0.5
requests~=2.27.1
SQLAlchemy~=1.4.29
SQLAlchemy-Utils~=0.38.2
starlette~=0.17.1
uvicorn~=0.17.6
